<!DOCTYPE html>
<html lang="en">
<head>
  <title>Система управления заказами</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/Zebra_Datepicker/css/bootstrap/zebra_datepicker.min.css"/>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/inputmask/jquery.inputmask.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="/static/tops_checked.js"></script>
  <script src="/static/Zebra_Datepicker/zebra_datepicker.src.js"></script>
  <link rel="stylesheet" href="/static/select.css">
  <link rel="stylesheet" href="/static/rotate.css">
  <link rel="stylesheet" href="/static/popover.css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button type="button" class="btn btn-secondary dropdown-toggle ml-2 p-2" data-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu ml-3">
      <a class="dropdown-item" href="{% url 'jobs_list' %}">Список заданий</a>
      <a class="dropdown-item" href="{% url 'jobs_addedit' %}">Добавить задание</a>
      <div class="dropdown-divider"></div>
      <h5 class="dropdown-header font-weight-bolder">Настройки</h5>
      <a class="dropdown-item" href="{% url 'tags_list' %}">Список тегов</a>
      <a class="dropdown-item" href="{% url 'tags_addedit' %}">Добавить тег</a>
      <a class="dropdown-item" href="{% url 'colors_list' %}">Список цветов</a>
      <a class="dropdown-item" href="{% url 'colors_addedit' %}">Добавить цвет</a>
      <a class="dropdown-item" href="{% url 'user_list' %}">Список пользователей</a>
      <a class="dropdown-item" href="{% url 'user_create' %}">Добавить пользователя</a>
    </div>
  <a class="navbar-brand ml-4 text-uppercase font-weight-lighter" href="{% url 'jobs_list' %}">Управление заказами</a>
  <div class="ml-auto navbar-brand">{% if request.user.is_authenticated %}
<i class="fa fa-user"></i> <a href="{% url 'profile_view' %}">{{ request.user }}</a> <a href="{% url 'logout_view' %}"><i class="fa fa-sign-out"></i></a></div>
{% else %}Авторизируйтесь{% endif %}
</nav>

{% include 'message.html' %}

<div class="container-fluid" style="margin-top:30px;margin-bottom:30px">
{% block content %}
{% endblock %}
</div>

<div class="container-fluid bg-light text-center" style="margin-bottom:0">
  <p>(c) Sergey Movchan 2020</p>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $('#id_shipmentdatetime').Zebra_DatePicker({
      format: 'Y-m-d H:i'
  });
});
</script>

</body>
</html>
