{% extends 'base.html' %}
{% block content %}
{% load fl_extras %}

<script>
  $( function() {
    var names = [{% for cmr in customers %}"{{ cmr.customer }}",{% endfor %}];

    var accentMap = {
      "ё": "е",
      "Ё": "Е"
    };
    var normalize = function( term ) {
      var ret = "";
      for ( var i = 0; i < term.length; i++ ) {
        ret += accentMap[ term.charAt(i) ] || term.charAt(i);
      }
      return ret;
    };

    $( "#id_customer" ).autocomplete({
      source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( names, function( value ) {
          value = value.label || value.value || value;
          return matcher.test( value ) || matcher.test( normalize( value ) );
        }) );
      }
    });
  } );
  </script>
<div class="container">
  <h2>{{ form.form_title }}</h2>

{{ form.non_field_errors }}

<form method="post">

<fieldset>
{% csrf_token %}

{% with form=form %}
{% include 's_form.html' %}
{% endwith %}

<hr>
<button id="btok" type="submit" class="btn btn-primary">Сохранить</button>

</fieldset>

</form>
</div>


<script type="text/javascript">
  $('input').addClass('form-control');
  $('input[type=checkbox]').removeClass('form-control').addClass('form-check-input');
</script>

{% endblock %}
