{% extends 'base.html' %}
{% block content %}
{% load fl_extras %}

<script>
  $( function() {
    var names = [{% for cmr in customers %}"{{ cmr.customer }}",{% endfor %}];
 
    var accentMap = {
      "ё": "е",
      "Ё": "Е"
    };
    var normalize = function( term ) {
      var ret = "";
      for ( var i = 0; i < term.length; i++ ) {
        ret += accentMap[ term.charAt(i) ] || term.charAt(i);
      }
      return ret;
    };
 
    $( "#id_customer" ).autocomplete({
      source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
        response( $.grep( names, function( value ) {
          value = value.label || value.value || value;
          return matcher.test( value ) || matcher.test( normalize( value ) );
        }) );
      }
    });
  } );
  </script>
<div class="container">
  <h2>{{ form.form_title }}</h2>

{{ form.non_field_errors }}

<form method="post">

<fieldset>
{% csrf_token %}
{% for field in form %}

{% if field.field.widget.input_type == 'checkbox' %}
<div class="form-group">
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.value %}checked{% endif %}>
    <label class="custom-control-label mb-0 mt-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
  </div>
</div>
{% else %}
<div class="form-group">
<label class="mb-0 mt-2">{{ field.label_tag }}
{% if field.field.required %}<i class="material-icons text-info" style="font-size:1em;" data-toggle="tooltip" data-placement="top" title="Обязательно к заполнению">new_releases</i>{% endif %}
</label>
{% if field.html_name == 'icon2' %}{{ field|parsetags }}{% else %}{{ field }}{% endif %}
{% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}
</div>
<div class="invalid-feedback">{{ field.errors }}</div>
{% endif %}
{% endfor %}


<hr>
<button id="btok" type="submit" class="btn btn-primary">Сохранить</button>

</fieldset>

</form>
</div>


<script type="text/javascript">
  $('input').addClass('form-control');
  $('input[type=checkbox]').removeClass('form-control').addClass('form-check-input');
</script>

{% endblock %}