{% extends 'base.html' %}
{% block content %}
{% load fl_extras %}

<div class="row">
<div class="col">
  <h2>Список заданий</h2>
</div>

<div class="col">
    <ul class="nav mb-2 nav-pills">
      <li class="nav-item">
    {% if request.session.cur_tag|default:0 == '*' %}
    <a href="?cur_tag=*" class="nav-link btn-primary" data-toggle="tooltip" title="Все!"><span class="text-uppercase mr-2 font-weight-bold">все</span> <i class="fa fa-asterisk"></i></a>
    {% else %}
    <a href="?cur_tag=*" class="nav-link text-black-50" data-toggle="tooltip" title="Все!"><i class="fa fa-asterisk"></i></a>
    {% endif%}
      </li>
    {% for tt in tts %}
      <li class="nav-item">
    {% if tt.id|floatformat == request.session.cur_tag|floatformat and request.session.flt == "0" %}
    <a href="?cur_tag={{ tt.id }}&flt=1" class="nav-link btn-secondary"><span class="text-uppercase mr-2 font-weight-bold">{{ tt }}</span> {{ tt|faicon:"" }}</a>
    {% elif tt.id|floatformat == request.session.cur_tag|floatformat and request.session.flt == "1" %}
    <a href="?cur_tag={{ tt.id }}&flt=0" class="nav-link btn-success"><span class="text-uppercase mr-2 font-weight-bold">{{ tt }}</span> {{ tt|faicon:"" }}</a>
    {% else %}
    <a href="?cur_tag={{ tt.id }}&flt=0" class="nav-link">{{ tt|faicon:"text-black-50" }}</a>
    {% endif %}
      </li>
    {% endfor %}
    </ul>
</div>
{% if usr|chekrights:"allseeing" %}
<div class="col">
    <ul class="nav mb-2 nav-pills">
      <li class="nav-item">
        <a href="?action=seeall" class="nav-link {% if seeall %}btn-secondary{% endif %}"><span class="text-uppercase mr-2 font-weight-bold">Все</span><i class="fa fa-eye"></i></a>
      </li>
      <li class="nav-item">
      
        <a href="?action=seemy" class="nav-link {% if not seeall %}btn-secondary{% endif %}"><span class="text-uppercase mr-2 font-weight-bold">Свои</span><i class="fa fa-low-vision"></i></a>
      </li>
    </ul>
</div>
{% endif %}

<div class="col">
<form method="get">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button" name="action" value="rst" onclick="location = '{{ request.path }}?action=rst';"><i class="fa fa-asterisk"></i></button>
      </div>
      <input type="text" class="form-control" placeholder="Поиск" value="{{ request.session.search|default:"" }}" name="search">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit" name="action" value="get"><i class="fa fa-search"></i></button>
      </div>
    </div>
</form>
</div>
</div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  console.log('sort');
  $( function() {
    $( "#sortable" ).sortable({
        delay: 150,
        scroll: true,
        stop: function( event, ui ) {
            var IDs = [];
            $(this).find("tr").each(function(){ IDs.push(this.id); });
            console.log(IDs);
            window.location.href = "{% url 'jobs_list_sort' %}?sortids="+IDs;
        },
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>


<div class="container-fluid p-1">
  <table class="table">
    <thead>
      <tr class="bg-light">
        <th class="text-center">Операции</th>
        <th>Нименование</th>
        <th>Заказчик</th>
        <th>Тех. операции</th>
        <th>Дата отгрузки</th>
        <th>Создал</th>
        <th class="text-center">Теги</th>
      </tr>
    </thead>
    <tbody id='sortable'>
    {% for job in jobs %}
      <tr id="{{ job.id }}" {% if job.color %}style="background-color:{{ job.color.bg }};color:{{ job.color.text }};"{% endif %}>
        <td class="text-center">
            <div class="btn-group">
                <span  class="text-primary" data-toggle="dropdown"><i class="fa fa-paint-brush" data-toggle="tooltip" data-placement="top" title="Задать цвет"></i></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item " href="{% url 'jobs_color_set' %}?jid={{ job.id }}&color=*">сбросить</a>
                    {% for color in colors %}
                    <a class="dropdown-item " href="{% url 'jobs_color_set' %}?jid={{ job.id }}&color={{ color.id }}" style="background-color:{{ color.bg }};color:{{ color.text }};">{{ color }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="btn-group">
                <a href="{% url 'jobs_addedit' %}?id={{ job.id }}" class="text-primary"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Редактировать"></i></a>
            </div>
            <div class="btn-group">
                <span class="text-primary" data-toggle="dropdown"><i class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="Удалить"></i></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'jobs_del' %}?id={{ job.id }}">Удалить</a>
                </div>
            </div>
        </td>
        <td tabindex="-1" class="ppv" data-html="true" data-placement="bottom" data-toggle="popover" data-trigger="focus" 
        title='<div class="text-nowrap"><b>{{ job.name|default:"" }}</b></div>' 
        data-content='
        {% if job.customer %}<div>Заказчик: <b>{{ job.customer|default:"" }}</b></div>{% endif %}
        {% if job.paper %}<div>Бумага: <b>{{ job.paper|default:"" }}</b></div>{% endif %}
        {% if job.info %}<div>Дополнительная информация: <b>{{ job.info|default:"" }}</b></div>{% endif %}
        <div>Дата отгрузки: <b>{{ job.shipmentdatetime|default:"" }}</b></div>
        <div>Тех операции: 
        {% for tt in tts_tp %}
                {% if job|checktag:tt %}
                    <div class="btn-group">
                        <span class="" data-toggle="dropdown">{{ tt|faicon:"text-success" }}</span>
                    </div>
                {% endif %}
        {% endfor %}
        </div>
        <hr>
        {% if job.manager %}<div>Создал: <b>{{ job.manager|default:"" }}</b></div>{% endif %}
        <div>Дата внесения: <b>{{ job.createdatetime|default:"" }}</b></div>
        '>

        {{ job.name|default:"" }}
        </td>
        <td class="text-nowrap">{{ job.customer|default:"" }}</td>
        <td class="text-left">
        {% for tt in tts_tp %}
                {% if job|checktag:tt %}
                    <div class="btn-group">
                        <span class="" data-toggle="dropdown">{{ tt|faicon:"text-success" }}</span>
                    </div>
                {% endif %}
        {% endfor %}
        </td>
        <td class="text-nowrap">{{ job.shipmentdatetime|date:"Y-m-d H:i D" }}</td>
        <td class="text-nowrap">{% if job.manager %}{{ job.manager.user.last_name }} {{ job.manager.user.first_name }}{% endif %}</td>
        <td class="text-center text-nowrap">
        {% for tt in tts %}
                {% if job|checktag:tt %}
                    <div class="btn-group">
                        <span class="" data-toggle="dropdown">{{ tt|faicon:"text-success" }}</span>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'taglink' %}?jid={{ job.id }}&tid={{ tt.id }}">отключить "{{ tt }}"</a>
                        </div>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <span class="" data-toggle="dropdown">{{ tt|faicon:"text-light" }}</span>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="{% url 'taglink' %}?jid={{ job.id }}&tid={{ tt.id }}">включить "{{ tt }}"</a>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div class="container-fluid p-1">
{% with pgn=jobs %}
{% include 'pagination.html' %}
{% endwith %}
</div>



<script src="/static/reload.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $.noConflict();
    $("[data-toggle=popover]").popover({container: 'body'});
    $( ".ppv" ).click(function() {
      $(this).focus();
    });
});

</script>
{% endblock %}
